.option_header {
    border: 1px solid #ccc;
    margin-top: 15px;
    background: #FFF;
}
.title-header {
    background: #0a3e71;
    padding: 10px;
    color: #FFF;
    font-size: 19px;
}
.form_option {
    margin-left: 15px;
}
.option_header .form_option .form-table tbody tr {
    border-bottom: 1px solid #f1f1f1;
}